<ion-view style="" id="page3" title="Calendário de Jogos">
  <ion-content class="has-header" padding="true">
    <div style="" id="calendRioDeJogos-list-item-container2" class="item item-body">
      <div class="show-list-numbers-and-dots" id="calendRioDeJogos-markdown4">
        <p style="margin-top:0px;color:#000000;">Dias de jogos e localização</p>
      </div>
      <ion-list id="calendRioDeJogos-list5">
        <ion-item style="" id="calendRioDeJogos-list-item5" class="item-thumbnail-left">
          <h2>ABC vs America</h2>
        </ion-item>
        <label id="calendRioDeJogos-textarea1" class="item item-input">
          <span class="input-label">Dia: 15-05-2017 - Horario: 15:45</span><textarea placeholder=""></textarea></label>
      </ion-list>
      <button class="button button-positive  button-block" id="calendRioDeJogos-button3">Compra ingresso</button>
    </div>
    <div style="" id="calendRioDeJogos-list-item-container3" class="item item-body">
      <ion-list id="calendRioDeJogos-list6">
        <ion-item style="" id="calendRioDeJogos-list-item6" class="item-thumbnail-left">
          <h2>Alegrim vs São Miguel</h2>
        </ion-item>
        <label id="calendRioDeJogos-textarea3" class="item item-input">
          <span class="input-label">Dia: 18-05-2017 - Horario: 15:00</span><textarea placeholder=""></textarea></label>
      </ion-list>
      <button class="button button-positive  button-block" id="calendRioDeJogos-button4">Compra ingresso</button>
    </div>
  </ion-content>
</ion-view>