<ion-view id="page3" title="Calendário de Jogos">
  <ion-content class="has-header" padding="true">
    <div ng-repeat="data in calendario" id="calendRioDeJogos-list-item-container2" class="item item-body">
      <div class="show-list-numbers-and-dots" id="calendRioDeJogos-markdown4">
      </div>
      <ion-list id="calendRioDeJogos-list5">
       
        <ion-item id="calendRioDeJogos-list-item5" class="">
          <center><h2>{{data.timeCasa}} vs {{data.timeVisitante}}</h2></center>
        </ion-item>
        <label id="calendRioDeJogos-textarea1" class="item item-input">
          <span class="input-label">Data/horário: {{data.dataInicio}}</span></label>
          <label id="calendRioDeJogos-textarea1" class="item item-input">
          <span class="input-label">Local: </span></label>
      </ion-list>
      
      <button 
          ng-show="btnCompra" 
          class="button icon-right ion-ios-pricetag button-balanced button-block"   
          id="calendRioDeJogos-button3" 
          ng-click="checkout(data)">
        Compra ingresso
      </button>
    </div>
  </ion-content>
</ion-view>