<ion-view title="Convidar Amigos">

  <ion-content class="has-header" padding="true">
    <style>
      h3 {
        padding: 4px;
        margin: 6px;
        margin-bottom: 2% 
      }
    </style>
    <h3>Ganhe pontos convidando seus amigos!</h3>
    <button ng-click="shareAnywhere('teste')" class="button button-block icon-left  button-energized">Convidar</button>
    

    <div style="" ng-repeat="data in calendario" id="calendRioDeJogos-list-item-container2" class="item item-body">
      <div class="show-list-numbers-and-dots" id="calendRioDeJogos-markdown4">
      </div>
      <ion-list id="calendRioDeJogos-list5">

        <ion-item id="calendRioDeJogos-list-item5" class="">
          <center>
            <h2>{{data.timeCasa}} vs {{data.timeVisitante}}</h2>
          </center>
        </ion-item>
        <label id="calendRioDeJogos-textarea1" class="item item-input">
          <span class="input-label">Data/horário: {{data.dataInicio}}</span></label>
        <label id="calendRioDeJogos-textarea1" class="item item-input">
          <span class="input-label">Local: </span></label>
      </ion-list>
      <button class="button button-positive  button-block" id="calendRioDeJogos-button3" ng-click="convidarParaJogo(data)">Convidar para jogo</button>

    </div>

  </ion-content>

</ion-view>